[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
jupyterlab = "*"
rope = "*"

[packages]
better-exceptions = "*"
wandb = "*"
lifelines = "*"
keras-rectified-adam = "*"
scikit-learn = "*"
baselinewanderremoval = "*"
pillow = "*"
tqdm = "*"
pywavelets = "*"
xlrd = "*"
keras-radam = "*"
tensorflow = "*"
plotly = "*"
libtmux = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
